* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Play', sans-serif;
  color: #d25517;
  text-align: center;
}

.App {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.uPnf0rumaqlac5Ar4F9fIQHaEK%26pid%3DApi&f=1");
  background-size: cover;
  display: flex;
  height: 100%;

}

.title {
  font-size: 48px;
  color: #d25517;
  text-align: center;
  background-color: rgb(18, 77, 165, .8);
  border-radius: 1rem;
  padding: 1em;
  margin: 5% 25% 5% 25%;

}

header {
  background-color: #124da5;
  color: #d25517;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10em;
}

.logo img {
  display: flex;
  background-color: #124da5;
  justify-content: flex-start;
  width: 10%
}

header nav a {
  margin: 0 1em;
  color: #d25517;
  font-size: 2em;
}

.home {
  color: #d25517;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

ul li {
  list-style: none;
  color: #d25517;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0);
}

form {
  background-color: rgb(0, 0, 0, 0);
}

.newGameDetails {
  background-color: rgba(0, 0, 0, 0);

}

input {
  width: 40%;
  color: black;
}

button {
  padding: 0.2em 1em;
  border: 0;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

.card {
  max-width: 300px;
  max-height: 380px;
  border-radius: 6px;
  background-color: #1a551a;
  color: #124da5;
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  opacity: 0.8;
}

.card .img-wrapper {
  width: auto;
}

.card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: 20% 10%;
  /* try 20px 10px */
}

.card .info-wrapper {
  padding: 1em;
}

.course-card,
.course-card-grid,
.grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: space-around;
}

.home-grid {
  padding: 2em 0;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: space-around;
}

.image-container div {
  margin: auto;
  width: 90%;
}

.image-container img {
  margin: auto;
  text-align: center;
  width: 100%;
  max-height: 100%;
}

.details {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
}

.flex-row {
  display: flex;
  flex-flow: column wrap;
}

.courseSpecifics {
  display: flex;
  justify-content: center;
}

.updatebutton {
  height: 40px;
  align-self: center;
  order: -1;
  position: relative;
  top: 0rem;
}