* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Play', sans-serif;
  color: #d25517;
  text-align: center;
}

main {
  padding: 2em 0;
}

body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.uPnf0rumaqlac5Ar4F9fIQHaEK%26pid%3DApi&f=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  font-size: 48px;
  color: #d25517;
  text-align: center;
  background-color: rgb(18, 77, 165, .8);
  border-radius: 1rem;
  padding: 1em;
  margin: 5% 25% 5% 25%;

}

header {
  background-color: #124da5;
  color: #d25517;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10em;
}

.logo img {
  display: flex;
  background-color: #124da5;
  justify-content: flex-start;
  width: 10%
}

header nav a {
  margin: 0 1em;
  color: #d25517;
  font-size: 2em;
}

.home {
  color: #d25517;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.courseSpecifics {
  display: grid;
  justify-content: center;

}

ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
}

.li0 {
  grid-row: 1
}

.li1 {
  grid-row: 2
}

.li2 {
  grid-row: 3
}

.li3 {
  grid-row: 4
}

.li4 {
  grid-row: 5
}

.li5 {
  grid-row: 6
}

.li6 {
  grid-row: 7
}

.li7 {
  grid-row: 8
}

.li8 {
  grid-row: 9
}

li {
  display: flex;
  list-style: none;
  color: #d25517;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgb(18, 77, 165, .7);
  padding: 0px;
}

form {
  background-color: rgb(0, 0, 0, 0);
}

.radio {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
}

.radioLabel {
  font-weight: bold;
}

#holeSelection18,
#holeSelection9 {
  width: 10%;
  margin-bottom: 20px;
}

.newGameDetails {
  background-color: rgba(0, 0, 0, 0);
}

input {
  width: 40%;
  color: black;
  margin: .5px;
}

input[type=text]:focus {
  border: 1px solid rgb(231, 116, 28);
}

button {
  padding: 0.2em 1em;
  border: 0;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

.card {
  max-width: 300px;
  max-height: 380px;
  border-radius: 6px;
  background-color: #1a551a;
  color: #124da5;
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  opacity: 0.8;
}

.card .img-wrapper {
  width: auto;
}

.card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: 20% 10%;
  /* try 20px 10px */
}

.card .info-wrapper {
  padding: 1em;
}

.course-card,
.course-card-grid,
.grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: space-around;
}

.home-grid {
  padding: 2em 0;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: space-around;
}

.image-container div {
  margin: auto;
  width: 90%;
}

.image-container img {
  margin: auto;
  text-align: center;
  width: 100%;
  max-height: 100%;
}

.details {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
}

.flex-row {
  display: flex;
  flex-flow: column wrap;
}

.home-card {
  margin: 10px;
}

.updatebutton {
  height: 40px;
  align-self: center;
  order: -1;
  position: relative;
  top: 0rem;
}

.about-body {
  background-color: rgb(18, 77, 165, .8);
  margin: 0 20px 0 20px;
  padding: 20px;
  border-radius: 20px;
}